


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/avh.css">

    

</head>
<body>
    <div class="avh"><img src="images/tooryanaadlogo2.png" alt="logo" ></a>
        
    <div class="avhh"><h1>आह्वान प्रमाण पत्र</h1></div>
    <div class="data">
        <ul>
            <br>
            <li>क्रमांक:  <%= users.token %></li>
            <br>
            <li>नाम:      <%= users.name %></li>
            <br>
            <li>अणुडाक:   <%= users.email %></li>
            <br>
            <li>संपर्क सुत्र:  <%= users.number %>  </li>
            
            <br>
            <li>अनुक्रमांक:  <%= users.scholarNumber %> </li> 
            <br>
            <li>विभाग:     <%= users.branch %></li>
            <br>
            <hr>
            <li>पंजीकृत पद: <%= users.posts %></li>
        </ul>
    </div>
    <br>
    <br>
    <div class="avahan">19-06-2023<div class="avah">तूर्यनाद</div></div>
</div>

</body>
</html>
        <!-- <%= users.scholarNumber %> -->
   