doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari&display=swap")
    style.
      /* CSS styles */
      body {
        font-family: Arial, sans-serif;
        margin: 26px;
      }
      .avhh {
        text-align: center;
      }
      .data li .section1 {
        font-weight: bold;
      }
      .avh img {
        max-width: 65px;
        float: left;
        margin: 0 10px 0 0;
        margin-left: 26px;
        padding-bottom: 12px;
      }
      .data {
        padding-top: 12px;
      }
      .avah {
        text-align: right;
      }
      .avahan {
        text-align-last: auto;
      }
      .avhh h1 {
        color: #333;
        font-size: 24px;
      }
      .post {
        padding-left: 42px;
      }
      .registered-post {
        font-weight: bold;
      }
  body
    .avhh
      h1 आह्वान'25
    .data
      ul
        li
          span.section1 अह्वान आईडी (Ahvaan ID): 
          span.section #{users.token}
        br
        li
          span.section1 नाम (Name): 
          span.section #{users.name}
        br
        li
          span.section1 स्कॉलर नंबर (Scholar Number): 
          span.section #{users.scholar}
        br
        li
          span.section1 वर्ष (Year): 
          span.section #{users.year}
        br
        li
          span.section1 ईमेल (Email): 
          span.section #{users.email}
        br
        li
          span.section1 संपर्क (Contact): 
          span.section #{users.contact}
        br
        li
          span.section1 शाखा (Branch): 
          span.section #{users.branch}
        br
        hr
        li
          span.section1 कार्यक्षेत्र (Vertical): 
          span.section #{users.vertical}
        br
    .avahan #{new Date().toLocaleDateString()}
    .avah तूर्यनाद
